<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write a quote, the quote's author, and the author's age!</h1>
<br>

<!-- Create your form here!
 -->
 <form action="/" method="POST">
    <input type="text" name="quote" placeholder="enter a quote">
    <input type="text" name="author_quote" placeholder="enter the quote's author">
    <input type="text" name="author_age" placeholder="enter the author's age">
</br>
    <input type="submit" value="Submit">
</form>

</body>
</html>